:root {
  --card-radius: 5px;
  --card-background: rgba(255, 255, 255, 0.8);
}
.content {
  padding: 0;
  height: 100vh;
  animation: FadeIn 1s ease;
}
.card-login {
  width: 450px;
  padding: 1em;
}
.card-login .card-header {
  --card-header-background: transparent;
}
#FortschrittLogo {
  width: 250px;
  filter: invert(1);
}
#LoginTitle {
  font-size: 1.5em;
  font-weight: bold;
}
#LoginSubtitle {
  padding-top: 0.3em;
  font-size: 1em;
  font-weight: normal;
}
#LoginForm form {
  flex: 1 100%;
}
#LoginForm form > * {
  margin: 1em 0;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.body-gradient-effect {
  background: linear-gradient(296deg, #c9e1db, #c9d4e1, #d4c9e1, #dbdbdb, #e3d8c7, #e1e3c7);
  background-size: 200% 200%;
  animation: HueRotate 24s ease infinite;
}

@keyframes HueRotate {
  0% {
    background-position: 13% 0%
  }
  50% {
    background-position: 88% 100%
  }
  100% {
    background-position: 13% 0%
  }
}

@media all and (max-width: 1000px) {
  .content {
    height: auto;
  }
  .card-login {
    width: auto;
  }
}